@font-face {
  font-family: SanguisNoctis;
  src: url(../assets/fonts/SanguisNoctis.ttf);
  font-display: swap;
}

:root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --punk: deeppink;
  --pumpkin: 255, 117, 24;
  --dim-white: #E8E8E8;
  --light-black: #111;
  --box-glow: 0 1px 6px 0;
  --text-glow: 0 0 .25em;
  --border: 2px solid rgb(var(--pumpkin));
  --sans-serif: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: .125em;
  font-family: SanguisNoctis, var(--sans-serif);
  color: var(--dim-white);
  background: var(--light-black);
  accent-color: rgb(var(--pumpkin));
}
/* Banner */
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border);
  background-color: var(--light-black);
  background-image: url(../assets/backgrounds/grave.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 20em;
}

aside > div {
  background: rgba(var(--pumpkin), .8);
  text-align: center;
  width: 100%;
  height: 9em;
  z-index: 1;
}

aside > div > img {
  width: 9em;
  height: 9em;
}
/* Intro */
header {
  text-align: center;
  user-select: none;
  margin: 3em 1em;
}

header > h1 {
  color: rgb(var(--pumpkin));
}

header > p {
  font-size: 1.25em;
}
/* Form */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 3em 2em;
  background: #181818;
}

main > span {
  display: inherit;
  flex-direction: column;
  gap: .625em;
}

main > span > label {
  user-select: none;
  color: rgb(var(--pumpkin));
  font-size: 1.1em;
  font-weight: bold;
}

main > span > input {
  background: var(--dim-white);
  border: 0;
  border-radius: .2em;
  padding: .5em;
  font: bold .9em var(--sans-serif);
  box-shadow: 0 0 2px var(--dim-white);
  width: 13em;
  transition: .1s;
}

main > span > input::placeholder {
  font-weight: normal;
}

main > span > input:valid:focus {
  scale: 1.025;
  outline: var(--border);
  box-shadow: var(--box-glow) rgb(var(--pumpkin));
}

main > span > input:invalid:focus {
  scale: 1.025;
  accent-color: var(--punk);
  outline: 2px solid var(--punk);
  box-shadow: var(--box-glow) var(--punk);
}

.visible {
  visibility: visible !important;
}

.error-border {
  accent-color: var(--punk) !important;
  outline: 2px solid var(--punk) !important;
  box-shadow: var(--box-glow) var(--punk) !important;
}

#error {
  visibility: hidden;
  margin-top: .5em;
  font-size: .8em;
  font-weight: bold;
  color: var(--punk);
}
/* Submit */
section {
  margin: 2em auto;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submit {
  outline: none;
  border: var(--border);
  cursor: pointer;
  border-radius: .2em;
  background: transparent;
  color: rgb(var(--pumpkin));
  font-family: SanguisNoctis, var(--sans-serif);
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: .125em;
  padding: .75em 1.5em;
  transition: .1s;
}

#submit:hover {
  background: rgb(var(--pumpkin));
  color: var(--light-black);
  box-shadow: var(--box-glow) rgb(var(--pumpkin));
}

#submit:active {
  color: var(--light-black);
  border-color: var(--punk);
  background: var(--punk);
  box-shadow: var(--box-glow) var(--punk);
}

section > span {
  text-align: center;
  margin: .75em auto;
}
/* Credits */
footer {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2em auto;
}

footer > img {
  width: 1.25em;
  height: 1.25em;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: rgb(var(--pumpkin));
  transition: .1s;
}

a:hover {
  font-size: 1.1em;
  text-shadow: var(--text-glow) rgb(var(--pumpkin));
}

a:active {
  color: var(--punk);
  font-size: 1.1em;
  text-shadow: var(--text-glow) var(--punk);
}

@media only screen and (min-width: 30em) {
  main {
    padding: 3em 4em;
  }
}

@media only screen and (min-width: 48em) {
  main {
    padding: 3em 20vw;
  }
}

@media only screen and (min-width: 62em) {
  main {
    padding: 3em 25vw;
  }
}

@media only screen and (min-width: 80em) {
  body {
    display: flex;
    text-align: start;
    align-items: flex-end;
    justify-content: center;
  }

  #banner {
    width: 75%;
    height: 100%;
    border-bottom: 0;
    justify-content: flex-start;
  }

  #content {
    display: inherit;
    flex-direction: column;
    height: 100%;
  }

  aside {
    width: 35%;
    height: 100%;
    position: fixed;
    border-bottom: 0;
    border-right: var(--border);
    justify-content: flex-start;
  }

  aside > div {
    margin-top: 11.25em;
  }

  header {
    margin: 3em;
    height: 14.25em;
  }

  main {
    justify-content: flex-start;
    padding: 3em 4em;
  }

  main > span > input {
    width: 20vw;
  }

  section {
    margin: 2em 4em;
    align-items: flex-start;
    justify-content: flex-start;
  }

  section > span {
    text-align: start;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 1em 0;
  }

  footer {
    gap: .5em;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 2em;
    margin: 0 4em;
  }
}