:root {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  --main-font: Inter, Arial, sans-serif;
  --main-back: #EEE;
  --main-fore: #1A1A1A;
  --main-accent: #FF14AF;
  --fcc-back: #1B1B32;
  --fcc-fore: #F5F6F7;
  --fcc-accent: #FEAC32;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  user-select: none;
  font-family: var(--main-font);
  background: var(--main-back);
  color: var(--main-fore);
  accent-color: var(--main-accent);
}

a {
  font-weight: bold;
  text-decoration: none;
  transition: .1s;
}

nav {
  display: flex;
  position: fixed;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 1em 0;
  width: 100%;
  height: fit-content;
  background: var(--main-fore);
  border-bottom: 1px solid var(--main-back);
  z-index: 1;
}

nav > a {
  font-family: var(--main-font);
  color: var(--main-back);
}

nav > a:hover {
  color: var(--main-accent);
}

#welcome-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  gap: .5em;
  text-align: center;
  height: 100vh;
}

#welcome-section > img {
  width: 8em;
  height: 8em;
  box-shadow: 0 0 2px 0 var(--main-fore);
  border-radius: 50%;
  margin-top: -4em;
  display: inherit;
  align-items: center;
  justify-content: center;
}

#welcome-section > h1 {
  display: inherit;
  flex-direction: column;
}

#welcome-section > h1 > em {
  font-weight: normal;
  font-size: .875em;
}

#welcome-section > h2 {
  font-size: 1.375em;
  font-weight: normal;
  margin: 0 1em;
  max-width: 22em;
}

hr {
  visibility: hidden;
  width: 0;
  height: 0;
}

.feat {
  padding: 3em 1em 8em 1em;
  text-align: center;
}

.feat > h2 {
  text-align: center;
  font-size: 1.375em;
  margin: 1em;
}

.feat > h2 > a {
  color: inherit;
  text-decoration: underline;
}

.feat > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: .5em;
}

.feat > a {
  font-size: 1.25em;
  width: 7em;
  padding: .5em 2em;
  position: relative;
  border-radius: 1em;
  top: 2em;
}

#projects {
  color: var(--fcc-fore);
  background: var(--fcc-back);
  box-shadow: 0 0 1em 0 var(--fcc-back);
}

#projects > h2 > a:hover {
  color: var(--fcc-accent);
}

.project-tile {
  display: inherit;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 21.25em;
  height: 30em;
  margin: 1.25em;
  padding: .625em 1.25em;
  box-shadow: 0 0 2px 1px var(--fcc-fore);
  border-radius: .5em;
}

.project-tile > header > h3 {
  font-size: 1.25em;
}

.project-tile > header > p {
  font-size: 1.1em;
}

.project-tile > main {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 2em;
}

.project-tile > main > a,
.source-links > a {
  font-size: 1.25em;
  width: 7em;
  padding: .5em .6em;
  border-radius: 1em;
}

.source-links {
  display: inherit;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .75em;
}

#projects > a,
.source-links.fcc > a {
  color: var(--fcc-fore);
  border: 1px solid var(--fcc-fore);
}

#projects > a:hover,
.source-links.fcc > a:hover {
  color: var(--fcc-back);
  background: var(--fcc-fore);
}

.project-tile.fcc > main > a {
  color: var(--fcc-accent);
  border: 1px solid var(--fcc-accent);
}

.project-tile.fcc > main > a:hover {
  color: var(--fcc-back);
  background: var(--fcc-accent);
}
/* Projects TOP Style */
#projects-top {
  font-family: Garamond;
  background: #111827;
  padding: 42px 8px 2px 8px;
  margin-right: -8px;
  margin-left: -8px;
  box-shadow: 0 0 10px 6px #111827;
}

#projects-top > h3 {
  font-size: 23px;
  margin-bottom: -60px;
  padding-right: 4px;
  padding-left: 4px;
}

#projects-top > h3 > a {
  text-decoration: none;
  color: #A9792B;
}

#projects-top > h3 > a:hover {
  color: #F472B6;
  background: transparent !important;
}

.project-tile-top {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.project-top {
  width: 340px;
  padding: 10px 20px;
  margin: 20px;
  border: 2px solid #EEE;
  border-radius: 6px;
}

.project-name-top {
  font-size: 21px;
  color: #A9792B;
}

.project-top > p {
  font-size: 19px;
}

.project-top > a, #show-all-top {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  width: 140px;
  padding: 10px 14px;
  margin: 1vh auto;
  border-radius: 20px;
  background: #1F2937;
  color: #A9792B;
}

.project-top > a:not(.site-link-top):hover,
#show-all-top:hover {
  background: #161E28 !important;
  color: #F472B6;
}

.site-link-top {
  background: #8E6523 !important;
  color: #0B0C1A !important;
}

.site-link-top:hover {
  background: #513A14 !important;
  color: #F472B6 !important;
}

#show-all-top {
  margin: 5vh auto 9vh auto !important;
}
/* Contact Me Style */
#contact-me {
  margin-bottom: 80px;
}

#contact-head {
  font-size: 30px;
  font-weight: normal;
}

#contact-me > a {
  display: inline-block;
  font-size: 23px;
  font-weight: bold;
  text-decoration: none;
  margin: 5vh 4vw;
  color: #9470FC;
}