:root {
  scrollbar-width: thin;
}

::selection {
  background: var(--bs-primary);
  color: var(--bs-white);
}

#projects-header {
  margin-left: -.5rem;
}

.card {
  border-left: .5rem solid var(--bs-primary);
  width: auto;
}

.subtext {
  font-size: .875em;
}

@media (width >= 36rem) {
  .card {
    max-width: calc(50% - 1rem);
  }
}
