@font-face {
  font-display: swap;
  font-family: 'Textura';
  src: url('../assets/fonts/Textura.woff2') format('woff2');
}

:root {
  --font: 'Textura', serif;
  --bone: beige;
  --blood: maroon;
  --tap: #f5f5dc80;
  --shadow: #00000040;
  --onyx: oklch(0.125 0 0);
  --radius: 0.25rem;
  --border: 1px solid var(--shadow);
  --transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --text-shadow: 0 0.125rem 0.25rem var(--onyx);
  --box-shadow: 0 0.125rem 0.25rem -0.125rem var(--shadow);

  scrollbar-width: thin;
  scroll-behavior: smooth;
}

::selection {
  color: var(--bone);
  background: var(--onyx);
}

body {
  min-width: 100%;
  min-height: 100dvh;
  background: var(--bone);
  font-family: var(--font);
}

button {
  border: none;
  cursor: pointer;
  border-radius: var(--radius);
  -webkit-tap-highlight-color: var(--tap);
}

nav {
  height: 4rem;
  display: flex;
  padding: 0 1rem;
  user-select: none;
  font-size: 1.75rem;
  align-items: center;
  background: var(--blood);
  justify-content: space-between;

  & #logo {
    gap: 0.25rem;
    cursor: pointer;
    display: inherit;
    font-weight: bold;
    color: var(--bone);
    align-items: center;

    & p {
      margin: 0;
      text-shadow: var(--text-shadow);
    }
  }

  & #dropdown {
    &:hover #content {
      display: block;
    }

    & button {
      display: inherit;
      background: none;
      aspect-ratio: 1 / 1;
    }
  
    & #content {
      z-index: 1;
      right: 1rem;
      display: none;
      text-align: end;
      min-width: 9rem;
      position: absolute;
      border: var(--border);
      background: var(--bone);
      padding: 0.125rem 0.25rem;
      border-radius: var(--radius);
      box-shadow: var(--box-shadow);
      
      & p {
        cursor: pointer;
        margin: 0.5rem 0.75rem;
        transition: color var(--transition);
        -webkit-tap-highlight-color: var(--tap);
        
        & i {
          vertical-align: middle;
        }

        @media (hover: hover) {
          &:hover {
            color: var(--blood);
          }
        }
      }
    }
  }

  & .icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}

header {
  display: flex;
  padding: 1rem;
  gap: 2rem 10rem;
  user-select: none;
  color: var(--bone);
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: var(--blood);
  min-height: calc(100dvh - 4rem);
  text-shadow: var(--text-shadow);

  @media (width >= 80rem) {
    & {
      flex-direction: row;
    }
  }
  
  & #raven {
    padding: 1rem 0;
    background: var(--bone);
    box-shadow: var(--box-shadow);
    border: 0.125rem solid var(--onyx);
    border-radius: 8rem 8rem 0.25rem 0.25rem;
  }

  & #hero {
    max-width: 100%;
    aspect-ratio: 4 / 3;
    border: var(--border);
    border-radius: var(--radius);
    box-shadow: var(--box-shadow);
  }

  & button {
    margin: 0.75rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    background: var(--bone);
    padding: 0.625rem 0.875rem;
    border: 1px solid var(--onyx);
    box-shadow: var(--box-shadow);
    transition: color var(--transition),
                background var(--transition),
                border-color var(--transition);

    @media (hover: hover) {
      &:hover {
        color: var(--bone);
        background: var(--onyx);
        border-color: var(--bone);
      }
    }

    &:active {
      color: var(--bone);
      background: var(--onyx);
      border-color: var(--bone);
    }
  }
}
