@font-face {
  font-display: swap;
  font-family: 'SanguisNoctis';
  src: url('../assets/fonts/SanguisNoctis.woff2') format('woff2');
}

:root {
  --border: 1px solid var(--pulp);
  --dirt: oklch(0.216 0.006 56.043);
  --font: 'SanguisNoctis', sans-serif;
  --grave: oklch(0.147 0.004 49.25);
  --light: #e8e8e8;
  --pulp: oklch(0.705 0.213 47.604 / 75%);
  --pumpkin: oklch(0.705 0.213 47.604);
  --punk: deeppink;
  --radius: 0.25rem;
  --shadow: oklch(0.147 0.004 49.25 / 75%);
  --transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  --text-glow: 0 1px 2px var(--pulp), 0 3px 2px var(--pulp), 0 4px 8px var(--pulp);
  --screen-lg: 64rem;
  scroll-behavior: smooth;
  /*--box-glow: 0 1px 6px 0;*/

  scrollbar-width: thin;
  --text-shadow: 0 1px 2px var(--shadow), 0 3px 2px var(--shadow), 0 4px 8px var(--shadow);
}

::selection {
  background: var(--pumpkin);
  color: var(--bone);
}

body {
  accent-color: var(--pumpkin);
  background: var(--grave);
  color: var(--light);
  display: flex;
  flex-direction: column;
  font-family: var(--font);
  letter-spacing: 0.125rem;
  min-height: 100dvh;
  min-width: 100%;

  @media (width >= 64rem) {
    & {
      flex-direction: row;
    }
  }
}

aside {
  align-content: center;
  background: url('../assets/images/backgrounds/grave.webp') center / cover no-repeat;
  border-bottom: var(--border);
  min-height: 20rem;
  min-width: 50%;
  user-select: none;

  @media (width >= 64rem) {
    border-bottom: none;
    border-right: var(--border);
  }

  & div {
    background: var(--pulp);
    max-height: 9rem;
    text-align: center;

    & img {
      aspect-ratio: 1 / 1;
      max-width: 9rem;
    }
  }
}

main {
  background: var(--dirt);
  display: inherit;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  text-shadow: var(--text-shadow);
}

header {
  text-align: center;

  & h1 {
    color: var(--pumpkin);
  }

  & p {
    & span {
      color: var(--pumpkin);
    }
  }
}

form {
  display: inherit;
  flex-wrap: wrap;
  gap: 2rem 6rem;
  justify-content: center;
}

#content {
  display: inherit;
  flex-direction: column;
  gap: 1.5rem;

  & div {
    display: inherit;
    flex-direction: column;
    gap: 0.5rem;

    & input {

    }
  }
}

main > div {
  display: inherit;
  flex-direction: column;
  gap: .625em;
}

main > div > label {
  color: rgb(var(--pumpkin));
  font-size: 1.1em;
  font-weight: bold;
  user-select: none;
}

main > div > input {
  background: var(--dim-white);
  border: 0;
  border-radius: .2em;
  box-shadow: 0 0 2px var(--dim-white);
  font: bold .9em var(--sans-serif);
  padding: .5em;
  transition: .1s;
  width: 13em;
}

main > div > input::placeholder {
  font-weight: normal;
}

main > div > input:valid:focus {
  box-shadow: var(--box-glow) rgb(var(--pumpkin));
  outline: var(--border);
  scale: 1.025;
}

main > div > input:invalid:focus {
  accent-color: var(--punk);
  box-shadow: var(--box-glow) var(--punk);
  outline: 2px solid var(--punk);
  scale: 1.025;
}

/*.visible {*/
/*  visibility: visible !important;*/
/*}*/

/*.error-border {*/
/*  accent-color: var(--punk) !important;*/
/*  outline: 2px solid var(--punk) !important;*/
/*  box-shadow: var(--box-glow) var(--punk) !important;*/
/*}*/

/*#error {*/
/*  visibility: hidden;*/
/*  margin-top: .5em;*/
/*  font-size: .8em;*/
/*  font-weight: bold;*/
/*  color: var(--punk);*/
/*}*/

/*section {*/
/*  user-select: none;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*}*/

/*#submit {*/
/*  outline: none;*/
/*  border: var(--border);*/
/*  cursor: pointer;*/
/*  border-radius: .2em;*/
/*  background: transparent;*/
/*  color: rgb(var(--pumpkin));*/
/*  font-family: SanguisNoctis, var(--sans-serif);*/
/*  font-size: 1.25em;*/
/*  font-weight: bold;*/
/*  letter-spacing: .125em;*/
/*  padding: .75em 1.5em;*/
/*  transition: .1s;*/
/*}*/

/*#submit:hover {*/
/*  background: rgb(var(--pumpkin));*/
/*  color: var(--light-black);*/
/*  box-shadow: var(--box-glow) rgb(var(--pumpkin));*/
/*}*/

/*#submit:active {*/
/*  color: var(--light-black);*/
/*  border-color: var(--punk);*/
/*  background: var(--punk);*/
/*  box-shadow: var(--box-glow) var(--punk);*/
/*}*/

/*section > span {*/
/*  text-align: center;*/
/*  margin: .75em auto;*/
/*}*/

/*footer {*/
/*  user-select: none;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  flex-direction: column;*/
/*}*/

/*footer > img {*/
/*  width: 1.25em;*/
/*  height: 1.25em;*/
/*}*/

/*a {*/
/*  cursor: pointer;*/
/*  text-decoration: none;*/
/*  font-weight: bold;*/
/*  color: rgb(var(--pumpkin));*/
/*  transition: .1s;*/
/*}*/

/*a:hover {*/
/*  font-size: 1.1em;*/
/*  text-shadow: var(--text-glow) rgb(var(--pumpkin));*/
/*}*/

/*a:active {*/
/*  color: var(--punk);*/
/*  font-size: 1.1em;*/
/*  text-shadow: var(--text-glow) var(--punk);*/
/*}*/
